.progress-bar {
    display: flex;
    width: 8vh; /* Fixed width */
    height: 2vh; /* Fixed height */
    background-color: #eee;
  }

  .progress-variable2 {
    background-color: red; /* Red on the left */
    height: 100%;
  }

  .progress-variable1 {
    background-color: green; /* Green on the right */
    height: 100%;
  }
